<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Importing the jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
    <title><%= title %></title>
  </head>
  <body>
    <div id="flash__login" role="alert" hidden></div>
    <div class="container" style="width: 400px; margin-top: 50px; border: 1px solid black; padding: 30px; border-radius: 5px">
        <h3 class="text-center">Connection</h3>
        <form id="auth_login_form">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="auth_username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="auth_password" placeholder="Password" name="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        
        <div><i>Don't have an account? <a href="/auth/signup">Sign Up</a> here.</i></div>
        <div><i>Password forgotten? <a href="/auth/forgot">Click</a> here.</i></div>
        
    </div>
    <!-- <script src="/js/user.js"></script> -->
    <script src="/js/auth.js"></script>
</html>