<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Login</title>
  
</head>

<body>
  <div id="flash__login" role="alert" hidden></div>
  <div class="container"
    style="width: 400px; margin-top: 50px; border: 1px solid black; padding: 30px; border-radius: 5px">
    <h3 class="text-center">Connection to Admin Board</h3>
    <form id="ad_login_form">
      <div class="form-group">
        <label for="ad_lg_form_username">Username</label>
        <input type="text" class="form-control" id="ad_lg_form_username" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="ad_lg_form_password">Password</label>
        <input type="password" class="form-control" id="ad_lg_form_password" placeholder="Your password"
          name="password">
      </div>
      <button class="btn btn-primary" type='submit'>Log In</button>
    </form>
    
  </div>
  <script src="/js/admin/login.js" ></script>
</html>