<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
</head>
<body>

    <input type="checkbox" id="nav-toggle" name="">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-hippo"></span><span>clte.shop</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin" id="sidebar_home"><span class='las la-igloo'></span>
                    <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/admin/products/1" id="sidebar_products"><span class='las la-shopping-bag'></span>
                    <span>Products</span></a>
                </li>
                <li>
                    <a href="/admin/product/add" id="sidebar_add_product"><span class='las la-pen-nib'></span>
                    <span>Add a product</span></a>
                </li>
                <li>
                    <a href="#incomming" id="sidebar_categories"><span class='las la-tags'></span>
                    <span>Categories</span></a>
                </li>
                <li>
                    <a href="/admin/users/1" id="sidebar_users"><span class='las la-user-circle'></span>
                    <span>Users</span></a>
                </li>
                <li>
                    <a href="/admin/messages" id="sidebar_messages"><span class='las la-sms'></span>
                    <span>Messages</span></a>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/admin/index.js'></script>
    
    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>
                    Dashboard
                </h2>
            </div>
            <div class="user-wrapper">
                <img src="/images/photo.png" alt="Picture" width="40px" height="40px">
                <div>
                    <h5>Admin</h5>
                    <small onclick="logout_request()">Logout</small>
                </div>
            </div>
            
        </header>