# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# TS 
dist/

# Data - Resources
data/

# json config file
*.json

views
public
__test__
LICENSE
README.md
sample.env