<%- include('head.ejs') %>
  <h2 class="text-center">Add Product</h2>

  <main>
    <section class="products"">
        <div class=" row">
            <div class="col"></br></div>
            <div class="col-8"></br>
                <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                </div>

                <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" name="price" placeholder="Price">
                </div>
                </div>

                <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Category</legend>
                    <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="book" value="book">
                        <label class="form-check-label" for="book">Book</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="phone" value="phone">
                        <label class="form-check-label" for="phone">Phone</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="laptop" value="laptop">
                        <label class="form-check-label" for="laptop">
                        Laptop
                        </label>
                    </div>
                    </div>
                </div>
                </fieldset>

                <div class="form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-primary" onclick="addProduct()">Save</button>
                </div>
                </div>
            </div>
            <div class="col"></br></div>
        </div>
    </section>
    <script>
      const addProduct = async () => {
        const name = document.getElementById('name').value;
        const price = document.getElementById('price').value;
        const radios = document.getElementsByName('category');
        var category;
        for (let i = 0; i < radios.length; i++) {
          if (radios[i].checked){
            category = radios[i].value;
          }
        }
        if (name && price && category){
            const response = await fetch('/products/', {
            method: 'POST',
            body: JSON.stringify({ name: name, price: price, category: category}),
            headers: {
                'Content-Type': 'application/json'
                }
            });
            window.location.href = '/admin/';
        }
    }
    </script>
  </main>
  <%- include('end.ejs') %>